
{% extends "base.html" %}

{% block content %}
      <div>
          <h3 class="subtitle">Here are media files inside the S3 bucket:</h3>
          <ul>
            {% for item in contents %}
              <li>
                <img src={{ item }} style="width: 250px">
              </li>
            {% endfor %}
          </ul>
        </div>
{% endblock %}



