
{% extends "base.html" %}

{% block content %}
<h1 class="subtitle">Upload your files to the AWS S3 Bucket</h1>
      <div>
        <h3>Upload your file here:</h3>
        <form method="POST" action="{{ url_for('storage.upload') }}" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="submit" value="Upload">
        </form>
      </div>
{% endblock %}
